*
!.gitignore
!README.md

!.zshrc
!.tmux.conf
!.rgignore
!.install.sh

!scripts/
!scripts/**

!.config/
!.config/wezterm/
!.config/wezterm/**/*
!.config/nvim/
!.config/nvim/**/*
!.config/alacritty/
!.config/alacritty/**/*
!.config/kitty/
!.config/kitty/**/*
!.config/yazi/
!.config/yazi/**/*
/**/.DS_Store
