*
!.gitignore
!README.md

!.zshrc
!.tmux.conf
!.rgignore
!.install.sh

!scripts/
!scripts/**

!wezterm/
!wezterm/**/*
!nvim/
!nvim/**/*
!alacritty/
!alacritty/**/*
!kitty/
!kitty/**/*
!yazi/
!yazi/**/*
!lazygit/
!lazygit/**/*
!aerospace/
!aerospace/**/*
/**/.DS_Store
