*
!.gitignore
!README.md

!.zshrc
!.tmux.conf
!.rgignore
!install.sh
!linux-setup.sh
!MakefileLinuxSetup
!ssh-config

!scripts/
!scripts/**

!wezterm/
!wezterm/**/*
!nvim/
!nvim/**/*
!nvim-custom/
!nvim-custom/**/*
!alacritty/
!alacritty/**/*
!kitty/
!kitty/**/*
!yazi/
!yazi/**/*
!lazygit/
!lazygit/**/*
!aerospace/
!aerospace/**/*
!aicommit2/
!aicommit2/**/*
/**/.DS_Store

!linux/
!linux/**/*
!pkglist.txt
